<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{layouts/admin :: head('Таблица')}">
</head>
<body>
    <!-- Сообщение об ошибке -->
    <section id="error-message" class="message error" th:if="${errorMessage}">
        <span th:text="${errorMessage}">Ошибка</span>
        <button id="close-btn-error" class="close-btn close-btn-error">
            <i class="fa fa-times"></i>
        </button>
    </section>

    <!-- Сообщение об успехе -->
    <section id="success-message" class="message success" th:if="${successMessage}">
        <span th:text="${successMessage}">Ошибка</span>
        <button id="close-btn-success" class="close-btn close-btn-success">
            <i class="fa fa-times"></i>
        </button>
    </section>

    <section class="sticky-container">
        <!--Шапка админки-->
        <section th:replace="~{layouts/admin :: header}"></section>
        <!--Кнопки управления-->
        <section th:replace="~{layouts/admin :: controls(deleteUrl=@{/admin/division/delete})}"></section>
        <!--Окно с инструкцией-->
        <section class="instruction-container" id="instruction">
            <div class="instruction-info-container">
                <div class="instruction-info">
                    <h3>Работа с областями доставки</h3>
                    <p>
                        Области доставки отображается в таблице доставки. В шапке.
                    </p>
                    <h4>Правила использования</h4>
                    <p>
                        1. Создайте область доставки. Она отобразится в таблице доставки. Значения стоимости доставки будут
                        пустые пока вы не установите конечные цены.
                    </p>
                </div>
                <div class="instruction-controls">
                    <button class="control-btn" onclick="hideInstruction()">Закрыть</button>
                </div>
            </div>
        </section>
        <!--Блок с формой создания-->
        <!--<div class="form-container" id="create-form">
            <form th:action="@{/admin/division}" th:object="${divisionSave}" action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Название района:</label>
                    <input th:field="*{name}" type="text" id="name" name="name" class="form-control" required />
                    <small id="nameError" style="color: red; display: none;">Введите название</small>
                </div>
                <div class="form-group-button">
                    <button id="saveButton" type="submit" class="form-control-btn">Сохранить</button>
                    <button type="button" class="form-control-btn" onclick="hideCreateForm()">Отмена</button>
                </div>
            </form>
        </div>-->
        <!--Блок с формой редактирования-->
        <!--<div class="form-container" id="edit-form">
            <form th:action="@{/admin/division/update}" th:object="${divisionUpdate}" action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input th:field="*{id}" type="number" id="id" name="id" class="form-control" style="display:none;" />
                </div>
                <div class="form-group">
                    <label for="nameUpdate">Название категории:</label>
                    <input th:field="*{name}" type="text" id="nameUpdate" name="capacityFromUpdate" class="form-control" required />
                    <small id="capacityFromUpdateError" style="color: red; display: none;">Введите объем до</small>
                </div>
                <div class="form-group-button">
                    <button type="submit" class="form-control-btn">Сохранить</button>
                    <button type="button" class="form-control-btn" onclick="hideUpdateForm()">Отмена</button>
                </div>
            </form>
        </div>-->
    </section>

    <section class="container category-container">
        <table border="1" class="delivery-table">
            <thead>
                <tr>
                    <th rowspan="2">Объем</th> <!-- Оставляем пустую ячейку -->
                    <th th:each="division : ${delivery.divisions}" th:text="${division.divisionName}"
                        th:colspan="${#lists.size(division.districts)}">
                    </th>
                </tr>
                <tr>
                    <th:block th:each="division : ${delivery.divisions}">
                        <th th:each="district : ${division.districts}" th:text="${district.districtName}"></th>
                    </th:block>
                </tr>
            </thead>
            <tbody>
                <!-- Строки с ценами по каждому capacity -->
                <tr th:each="capacity : ${delivery.capacities}">
                    <td th:text="'От ' + ${capacity.capacityFrom} + ' до ' + ${capacity.capacityTo}"></td>
                    <th:block th:each="division : ${delivery.divisions}">
                        <td th:each="district : ${division.districts}"
                            th:text="${district.capacityPriceMap[capacity.id] != null} ? ${district.capacityPriceMap[capacity.id].price} : '-'">
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </section>

    <!--Блок с подвалом-->
    <section th:replace="~{layouts/admin :: footer}"></section>

    <script src="/js/notification.js"></script>
    <script src="/js/admin/general.js"></script>
</body>
</html>