<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{layouts/admin :: head('Новости')}">
</head>
<body>
    <!-- Сообщение об ошибке -->
    <section id="error-message" class="message error" th:if="${errorMessage}">
        <span th:text="${errorMessage}">Ошибка</span>
        <button id="close-btn-error" class="close-btn close-btn-error">
            <i class="fa fa-times"></i>
        </button>
    </section>

    <!-- Сообщение об успехе -->
    <section id="success-message" class="message success" th:if="${successMessage}">
        <span th:text="${successMessage}">Ошибка</span>
        <button id="close-btn-success" class="close-btn close-btn-success">
            <i class="fa fa-times"></i>
        </button>
    </section>

    <section class="sticky-container">
        <!--Шапка админки-->
        <section th:replace="~{layouts/admin :: header}"></section>
        <!--Кнопки управления-->
        <section th:replace="~{layouts/admin :: controls(deleteUrl=@{/admin/notice/delete})}"></section>
        <!--Окно с инструкцией-->
        <section class="instruction-container" id="instruction">
            <div class="instruction-info-container">
                <div class="instruction-info">
                    <h3>Работа с новостями</h3>
                    <p>
                        Новости отображаются на главной странице без картинки и на странице новостей.
                    </p>
                    <h4>Правила использования</h4>
                    <p>
                        1. Введите заголовок новости. Он не должен быть длинным. Иначе может поломаться отображение
                        новости на главной странице
                    </p>
                    <p>
                        2. Введите описание новости. Опишите суть новости подробно. Первые предложения должны
                        заинтересовать читателя.
                    </p>
                    <p>
                        3. Загрузка картинки для новости обязательная. Старайтесь чтобы у всех картинок новостей
                        была одинаковая пропорция длины и ширины. Не превышайте размера в 100 КБ. Минимальное
                        разрешение для картинки на сайте 300x216 пикселей
                    </p>
                    <h4>Редакторы</h4>
                    <p>Уменьшайте разрешение до формата 300x300x216 пикселей</p>
                    <a href="https://photo-resizer.ru/" target="_blank">Изменение разрешения</a>
                    <p>Сжимайте изображения до 100 КБ</p>
                    <a href="https://imagecompressor.com/ru/" target="_blank">Сжатие изображения</a>
                    <p>Обрезайте лишнее чтобы изображение соответствовало формату 1:1</p>
                    <a href="https://www.iloveimg.com/ru/crop-image" target="_blank">Обрезка изображения</a>
                </div>
                <div class="instruction-controls">
                    <button class="control-btn" onclick="hideInstruction()">Закрыть</button>
                </div>
            </div>
        </section>
        <!--Блок с формой создания-->
        <div class="form-container form-container-notice" id="create-form">
            <form th:action="@{/admin/notice}" th:object="${noticeSave}" action="#" method="post" enctype="multipart/form-data" onsubmit="return validateSaveForm()">
                <div class="form-group">
                    <label for="name">Заголовок новости:</label>
                    <input th:field="*{title}" type="text" id="name" name="name" class="form-control" required />
                    <small id="nameError" style="color: red; display: none;">Введите заголовок</small>
                </div>
                <div class="form-group form-group-textarea">
                    <label for="description">Описание новости:</label>
                    <textarea th:field="*{description}" id="description" name="description" class="form-control" rows="4" required></textarea>
                    <small id="descriptionError" style="color: red; display: none;">Описание новости</small>
                </div>
                <div class="form-notice-bottom">
                    <div class="form-notice-bottom-right">
                        <div class="form-group-notice-img">
                            <label for="imagePreview">Картинка новости:</label>
                            <img id="imagePreview" class="image-preview-notice"/>
                        </div>
                    </div>
                    <div class="form-notice-bottom-left">
                        <div class="form-group">
                            <label class="form-img-load form-img-load-notice" for="image">Загрузить картинку</label>
                            <input th:field="*{noticeImage}" type="file" id="image" name="image" class="form-input-none " onchange="previewSaveImage()" />
                            <small id="imageError" style="color: red; display: none;">Выберете картинку</small>
                        </div>
                        <div class="form-group-button">
                            <button id="saveButton" type="submit" class="form-control-btn">Сохранить</button>
                            <button type="button" class="form-control-btn" onclick="hideCreateForm()">Отмена</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--Блок с формой редактирования-->
        <div class="form-container form-container-notice" id="edit-form">
            <form th:action="@{/admin/notice/update}" th:object="${noticeUpdate}" action="#" method="post" enctype="multipart/form-data" onsubmit="return validateUpdateForm()">
                <div class="form-group">
                    <input th:field="*{id}" type="number" id="id" name="id" class="form-control" style="display:none;" />
                </div>
                <div class="form-group">
                    <label for="name">Заголовок новости:</label>
                    <input th:field="*{title}" type="text" id="nameUpdate" name="name" class="form-control" required />
                    <small id="nameUpdateError" style="color: red; display: none;">Введите заголовок</small>
                </div>
                <div class="form-group form-group-textarea">
                    <label for="description">Описание новости:</label>
                    <textarea th:field="*{description}" id="descriptionUpdate" name="description" class="form-control" rows="4" required></textarea>
                    <small id="descriptionUpdateError" style="color: red; display: none;">Описание новости</small>
                </div>
                <div class="form-notice-bottom">
                    <div class="form-notice-bottom-right">
                        <div class="form-group-notice-img">
                            <label for="imagePreview">Картинка новости:</label>
                            <img id="imageUpdatePreview" class="image-preview-notice"/>
                        </div>
                    </div>
                    <div class="form-notice-bottom-left">
                        <div class="form-group">
                            <label class="form-img-load form-img-load-notice" for="imageUpdate">Загрузить картинку</label>
                            <input th:field="*{noticeImage}" type="file" id="imageUpdate" name="image" class="form-input-none " onchange="previewUpdateImage()" />
                            <small id="imageUpdateError" style="color: red; display: none;">Выберете картинку</small>
                        </div>
                        <div class="form-group-button">
                            <button id="saveUpdateButton" type="submit" class="form-control-btn">Сохранить</button>
                            <button type="button" class="form-control-btn" onclick="hideUpdateForm()">Отмена</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="container category-container">
        <!--Блок с таблицей-->
        <table class="admin-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>Дата создания</th>
                <th>Тип картинки</th>
                <th>Название картинки</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${notices}" onclick="selectRow(this)">
                <td th:text="${notice.id}"></td>
                <td th:text="${notice.title}"></td>
                <td th:text="${notice.createdTime}"></td>
                <td th:text="${notice.imageType}"></td>
                <td th:text="${notice.noticeImageName}"></td>
                <td th:text="${notice.noticeImage}" style="display: none"></td>
                <td th:text="${notice.description}"  style="display: none"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <!--Блок с подвалом-->
    <section th:replace="~{layouts/admin :: footer}"></section>

    <script src="/js/notification.js"></script>
    <script src="/js/admin/general.js"></script>
    <script src="/js/admin/notice.js"></script>
</body>
</html>