<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Краткое описание страницы для поисковых систем и социальных сетей.">
    <meta name="keywords" content="ключевые слова, SEO, пример">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#007bff">
    <!-- Open Graph для социальных сетей -->
    <meta property="og:title" content="Название страницы">
    <meta property="og:description" content="Описание страницы для социальных сетей.">
    <meta property="og:image" content="static/images/preview.jpg">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website">
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@400;500;600;700;800;900&family=Geist:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- Иконки -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <title th:text="${title}">AsiaPlast</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}" th:fragment="header"></div>
    <div th:replace="~{fragments/footer :: footer}" th:fragment="footer"></div>
</body>
</html>