<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
    <section class="container" th:fragment="header">
        <div class="admin-header">
            <nav>
                <a href="/admin/categories">Категории</a>
                <a href="/admin/subcategories">Подкатегории</a>
                <a href="/admin/colors">Цвета</a>
                <a href="/admin/characteristics">Характеристики</a>
                <a href="/admin/products">Продукты</a>
                <a href="/certificates">Сертификаты</a>
                <a href="/vacancies">Вакансии</a>
                <a href="/news">Новости</a>
            </nav>
        </div>
    </section>

</body>
</html>