<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
    <section class="container" th:fragment="header">
        <div class="admin-header">
            <nav>
                <a href="/admin/categories">Категории</a>
                <a href="/subcategories">Подкатегории</a>
                <a href="/colors">Цвет</a>
                <a href="/characteristics">Характеристики</a>
                <a href="/products">Продукт</a>
                <a href="/certificates">Сертификат</a>
                <a href="/vacancies">Вакансии</a>
                <a href="/news">Новости</a>
            </nav>
        </div>
    </section>

</body>
</html>