<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
    <section class="container" th:fragment="header">
        <div class="admin-header">
            <nav>
                <a href="/admin/categories">Категории</a>
                <a href="/admin/subcategories">Подкатегории</a>
                <a href="/admin/colors">Цвета</a>
                <a href="/admin/characteristics">Характеристики</a>
                <a href="/admin/products">Продукты</a>
                <div class="dropdown">
                    <button class="dropdown-btn">
                        Доставка
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/capacities">Объемы</a>
                        <a href="/admin/divisions">Области</a>
                        <a href="/admin/delivery/rates">Районы</a>
                    </div>
                </div>
                <a href="/admin/certificates">Сертификаты</a>
                <a href="/admin/partners">Партнеры</a>
                <a href="/admin/vacancies">Вакансии</a>
                <a href="/admin/notices">Новости</a>
            </nav>
        </div>
    </section>

</body>
</html>