<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Navbar -->
<div th:fragment="header-navbar">
    <div class="header-bottom">
        <nav>
            <ul class="header-bottom-navbar-menu">
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/about}">О нас</a></li>
                <li><a th:href="@{/category}">Каталог</a></li>
                <li><a th:href="@{/contact}">Доставка</a></li>
                <li><a th:href="@{/partner}">Партнеры</a></li>
                <li><a th:href="@{/notice}">Новости</a></li>
                <li><a th:href="@{/vacancy}">Вакансии</a></li>
                <li><a th:href="@{/contact}">Контакты</a></li>
            </ul>
        </nav>
        <div class="header-bottom-contact">
            <span>Контакты: +(996) 556-09-15-52 | +(996) 554-60-11-90</span>
        </div>
    </div>
</div>
</body>
</html>