<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Header Top -->
<div th:fragment="header-top">
    <div class="header">
        <div class="header-top-left">
            <div class="logo-container">
                <span class="logo">AsiaPlast</span>
            </div>
            <div>
                <button class="catalog-button">
                    <svg id="catalogIcon" class="catalog-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50">
                        <path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z"></path>
                    </svg>
                    <svg id="catalogIconClose" class="catalog-icon-close" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24">
                        <path d="M 20.496094 2.9921875 A 0.50005 0.50005 0 0 0 20.146484 3.1464844 L 12 11.292969 L 3.8535156 3.1464844 A 0.50005 0.50005 0 0 0 3.4941406 2.9941406 A 0.50005 0.50005 0 0 0 3.1464844 3.8535156 L 11.292969 12 L 3.1464844 20.146484 A 0.50005 0.50005 0 1 0 3.8535156 20.853516 L 12 12.707031 L 20.146484 20.853516 A 0.50005 0.50005 0 1 0 20.853516 20.146484 L 12.707031 12 L 20.853516 3.8535156 A 0.50005 0.50005 0 0 0 20.496094 2.9921875 z"></path>
                    </svg>
                    Каталог
                </button>
            </div>
            <div class="search-container">
                <form action="/product/search" class="search-form"  method="get">
                    <input type="text" name="search" placeholder="Поиск..." class="search-input">
                    <button type="submit" class="search-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="search-icon">
                            <path d="M10 2a8 8 0 015.292 13.707l4.707 4.707-1.414 1.414-4.707-4.707A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <div class="header-top-right">
            <div class="profile-button">
                <img class="profile-icon" src="/images/icons/icons8-customer-48.png" alt="gender-neutral-user"/>
                <a href="#">Профиль</a>
            </div>
            <div class="basket-button">
                <img class="basket-icon" src="/images/icons/icons8-checkout-25.png" alt="gender-neutral-user"/>
                <a href="#" onclick="submitBasket()">Корзина</a>
                <div class="basket-counter"><span>0</span></div>
            </div>
            <!-- Скрытая форма для отправки данных -->
            <form id="basketForm" method="POST" action="/basket" style="display:none;">
                <input type="hidden" name="products" id="productsInput">
            </form>
        </div>
        <div th:replace="~{fragments/header/header-catalog :: header-catalog-modal}"></div>
    </div>
    <div th:replace="~{fragments/header/header-catalog :: header-catalog-background}"></div>
</div>
</body>
</html>