<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="footer-container" th:fragment="footer">
    <section class="container">
        <div class="footer-top">
            <div class="footer-logo-container">
                <span class="footer-logo-container">AsiaPlast</span>
            </div>
        </div>
        <div class="footer-center">
            <div class="footer-center-left">
                <div class="footer-menu">
                    <div class="footer-menu-item">
                        <div class="footer-menu-title">
                            <span>Компания</span>
                        </div>
                        <a href="#">О нас</a>
                        <a href="#">Производство</a>
                        <a href="#">Рециклинг</a>
                        <a href="#">Рециклинг</a>
                        <a href="#">Новости</a>
                        <a href="#">Вакансии</a>
                        <a href="#">Контакты</a>
                    </div>
                    <div class="footer-menu-item">
                        <div class="footer-menu-title">
                            <span>Сервис</span>
                        </div>
                        <a href="#">Как заказать</a>
                        <a href="#">Оплата</a>
                        <a href="#">Доставка</a>
                    </div>
                    <div class="footer-menu-item">
                        <div class="footer-menu-title">
                            <span>Сотрудничество</span>
                        </div>
                        <a href="#">Партнерство</a>
                    </div>
                </div>
                <div class="footer-contacts">
                    <div class="footer-contacts-title">
                        <span>Контакты</span>
                    </div>
                    <div class="footer-contacts-wrapper">
                        <div class="footer-contact">
                            <div class="footer-contact-info">
                                <p class="footer-contact-info-address">г. Бишкек, ул. Исанова, 163/1</p>
                                <div class="footer-contact-info-phone-container">
                                    <div class="footer-contact-info-phone-icon">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <p>0 312 32-34-34</p>
                                </div>
                                <div class="footer-contact-info-phone-container">
                                    <div class="footer-contact-info-phone-icon">
                                        <i class="fa-solid fa-mobile-screen-button"></i>
                                    </div>
                                    <p>0 556 09-15-52</p>
                                </div>
                                <div class="footer-contact-info-phone-container">
                                    <div class="footer-contact-info-phone-icon">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </div>
                                    <p>0 500 09-15-52</p>
                                </div>
                            </div>
                            <div class="footer-contact-work-time-container">
                                <p class="footer-contact-work-time-title">Время работы:</p>
                                <div class="footer-contact-work-time-wrapper">
                                    <div class="footer-contact-work-time-day">
                                        <p>пн-пт:</p>
                                    </div>
                                    <p class="footer-contact-work-time">8:00-17:00</p>
                                </div>
                                <div class="footer-contact-work-time-wrapper">
                                    <div class="footer-contact-work-time-day">
                                        <p>сб:</p>
                                    </div>
                                    <p class="footer-contact-work-time">8:00-16:00</p>
                                </div>
                                <div class="footer-contact-work-time-wrapper">
                                    <div class="footer-contact-work-time-day">
                                        <p>вс:</p>
                                    </div>
                                    <p class="footer-contact-work-time">выходной</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer-contact">
                            <div class="footer-contact-info">
                                <p class="footer-contact-info-address">г. Бишкек, ул. Лущихина, 99Б/1</p>
                                <div class="footer-contact-info-phone-container">
                                    <div class="footer-contact-info-phone-icon">
                                        <i class="fa-solid fa-mobile-screen-button"></i>
                                    </div>
                                    <p>0 551 55-11-00</p>
                                </div>
                                <div class="footer-contact-info-phone-container">
                                    <div class="footer-contact-info-phone-icon">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </div>
                                    <p>0 551 55-11-00</p>
                                </div>
                                <div style="visibility: hidden;" class="footer-contact-info-phone-container">
                                    <div class="footer-contact-info-phone-icon">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <p>0 312 32-34-34</p>
                                </div>
                            </div>
                            <div class="footer-contact-work-time-container">
                                <p class="footer-contact-work-time-title">Время работы:</p>
                                <div class="footer-contact-work-time-wrapper">
                                    <div class="footer-contact-work-time-day">
                                        <p>пн-пт:</p>
                                    </div>
                                    <p class="footer-contact-work-time">8:00-17:00</p>
                                </div>
                                <div class="footer-contact-work-time-wrapper">
                                    <div class="footer-contact-work-time-day">
                                        <p>сб:</p>
                                    </div>
                                    <p class="footer-contact-work-time">8:00-16:00</p>
                                </div>
                                <div class="footer-contact-work-time-wrapper">
                                    <div class="footer-contact-work-time-day">
                                        <p>вс:</p>
                                    </div>
                                    <p class="footer-contact-work-time">выходной</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1229.604533912394!2d74.52019185754527!3d42.862101382122724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec8c234c9a50b%3A0xdb8e8251ad3d444!2zItCf0YDQvtGE0LjQutGBLSDQrtCzIg!5e0!3m2!1sru!2skg!4v1735997117823!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Все права защищены</p>
        </div>
    </section>
</div>
</body>
</html>