/******************************************************************************************/
/************************************Общие стили сайта*************************************/
/******************************************************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: inherit;
    text-align: inherit;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* Убираем стили таблиц */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container-header {
    position: relative;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.footer-container {
    margin: 0 auto;
    padding: 0;
    background-color: #333333;
    margin-top: 70px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/******************************************************************************************/
/*************************************Стили сообщений**************************************/
/******************************************************************************************/
.error-message {
    width: 300px;
    height: 80px;
    position: fixed;
    top: 18px;
    right: -320px; /* Скрыто за границей экрана */
    color: #8B0000;
    padding: 10px 20px;
    border: 2px solid #8B0000;
    background-color: #FFE4E1;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter Tight', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out; /* Плавная анимация */
    z-index: 1000;
}

.error-message.visible {
    right: 20px; /* Видимое состояние */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: #8B0000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.close-btn:hover {
    color: #FF4500;
}

/******************************************************************************************/
/**********************************Стили ссылок страниц************************************/
/******************************************************************************************/
.nav-page-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter Tight', serif;
    color: #a3a3a3;
}

.nav-page-container a {
    margin-right: 5px;
}

.nav-page-container i {
    margin-right: 5px;
}
/******************************************************************************************/
/***********************************Стили шапки сайта**************************************/
/******************************************************************************************/
/*-----------------------------------Стили для шапки--------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
     max-width: 175px;
}

.logo {
    font-size: 30px;
    margin-right: 40px;
    font-family: 'Anton', serif;
    font-weight: 500;
    letter-spacing: 3px;
    color: #333333;
}

.catalog-button {
    width: 125px;
    height: 40px;
    background-color: #ffda33;
    border: none;
    color: #333333;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    position: relative;
}

.catalog-icon {
    fill: none;
    stroke: #333333;
    margin-right: 10px;
    width: 22px;
    height: 16px;
}

.catalog-icon-close {
    display:none;
    fill: none;
    stroke: #333333;
    margin-right: 10px;
    width: 22px;
    height: 16px;
}

.header-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-button {
    width: 125px;
    height: 40px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-button a {
    color: #333333;
}

.profile-icon {
    width: 22px;
    height: 20px;
    margin-right: 10px;
}

.basket-button {
    width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: right;
}

.basket-counter {
    height: 40px;
    width: 40px;
    background-color: #ffda33;
    font-family: 'Rubik', serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.basket-button a {
    color: #333333;
}

.basket-icon {
    width: 22px;
    height: 23px;
    margin-right: 10px;
}

.header-bottom {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-navbar-menu li {
    margin-right: 12px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
}

.header-bottom-navbar-menu li :hover {
    color: #ffda33;
}

.header-bottom-contact {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.search-form {
    width: 360px;
}

.search-input {
    width: 100%;
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffda33;
    outline: none;
    transition: border-color 0.2s;
    font-family: 'Rubik', serif;
    box-sizing: border-box;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #ffda33;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: 25px;
    height: 25px;
    fill: #333333;
    transition: fill 0.2s;
}

.search-button:hover .search-icon {
    width: 35px;
    height: 35px;
}

/******************************************************************************************/
/*------------------------------Стили для каталога шапки----------------------------------*/
.header-catalog {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-catalog-modal {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    z-index: 1001;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.7);
    max-height: 500px;
    overflow-y: auto; /* Прокрутка при переполнении */
    padding: 20px;
    box-sizing: border-box;
}

/* Кастомный скрол */
.header-catalog-modal::-webkit-scrollbar {
    width: 10px;
}

.header-catalog-modal::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
}

.header-catalog-modal::-webkit-scrollbar-thumb:hover {
    background-color: #ffda33; /* Darker thumb on hover */
}

.header-catalog-modal-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19%, 1fr)); /* 5 элементов в строке */
    gap: 10px;
    justify-items: center;
    align-items: start;
}

.header-catalog-modal-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.header-catalog-modal-item h4 {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-bottom: 2px;
}

.header-catalog-modal-item h4:hover {
    color: #8b8b8b;
}

.header-catalog-modal-item-img {
    margin-bottom: 5px;
}

.header-catalog-modal-item-img img {
    max-width: 100%; /* Адаптивное изображение */
    height: auto; /* Сохраняем пропорции */
}

.header-catalog-modal-item-subcategory {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.header-catalog-modal-item-subcategory a {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-top: 3px;
}

.header-catalog-modal-item-subcategory a:hover {
    color: #8b8b8b;
}


/******************************************************************************************/
/**********************************Стили подвала сайта*************************************/
/******************************************************************************************/
/*----------------------------------Стили для подвала-------------------------------------*/
.footer-top {
    padding-top: 20px;
}

.footer-logo-container {
    font-size: 40px;
    font-family: 'Anton', serif;
    font-weight: 500;
    letter-spacing: 3px;
    color: #f4f4f4;
}

.footer-center {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-menu {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-menu-item {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 35px;
}

.footer-menu-item a {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Inter Tight', serif;
    margin-bottom: 8px;
    color: #f4f4f4;
}

.footer-menu-item a:hover {
    color: #ffda33;
}

.footer-menu-title {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter Tight', serif;
    color: #f4f4f4;
    margin-bottom: 10px;
}

.footer-contact {
    margin-right: 30px;
}

.footer-contacts-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-contacts-title {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter Tight', serif;
    color: #f4f4f4;
    margin-bottom: 10px;
}

.footer-contact-info-address {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter Tight', serif;
    margin-bottom: 8px;
    color: #f4f4f4;
}

.footer-contact-info-phone-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 140px;
    margin-bottom: 8px;
}

.footer-contact-info-phone-icon {
    margin-right: 10px;
}

.footer-contact-info-phone-container p {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter Tight', serif;
    color: #f4f4f4;
}

.footer-contact-info-phone-container i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffda33;
}

.footer-contact-work-time-title {
   font-weight: 500;
   font-size: 15px;
   font-family: 'Inter Tight', serif;
   color: #f4f4f4;
   margin-bottom: 8px;
}

.footer-contact-work-time-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.footer-contact-work-time-day {
    width: 63px;
    margin-right: 10px;
}

.footer-contact-work-time-day p {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Inter Tight', serif;
    color: #f4f4f4;
}

.footer-contact-work-time {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter Tight', serif;
    color: #f4f4f4;
}

.footer-map iframe {
    width: 355px;
    height: 266px;
    filter: invert(100%);
}

.footer-bottom {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.footer-bottom p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Inter Tight', serif;
    color: #f4f4f4;
    padding-bottom: 20px;
}

.footer-bottom p::after {
    content: " ®";
}
/******************************************************************************************/
/*******************************Стили для главной страницы*********************************/
/******************************************************************************************/
/************************************Категории и слайдер***********************************/
/*----------------------------------Категории---------------------------------------------*/
.home-grid-slider-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr; /* Левая колонка (категории) меньше, правая (слайдер) больше */
    grid-template-rows: auto auto; /* Две строки */
    width: 100%;
    max-width: 1200px;
}

.home-categories-container {
    grid-column: 1; /* В первой колонке */
    grid-row: 1; /* Только первая строка */
}

.home-all-categories-link-container {
    display: flex;
    align-items: end;
    justify-content: left;
}

.home-all-categories-link {
    grid-column: 1; /* В первой колонке */
    grid-row: 2; /* Только вторая строка */
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
}

.home-all-categories-link span {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
}

.home-all-categories-link-icon-container {
    width: 50px;
    height: 50px;
    background-color: #ffda33;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.home-all-categories-link-icon {
    width: 45px;
    height: 45px;
    padding: 10px 10px;
}

.home.link:hover {
    background-color: #ffcc00;
    color: #fff;
}

.home-categories-item a {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
}

.home-categories-item .category-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.home-categories-item .category-img img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/*----------------------------------Слайдер---------------------------------------------*/
.home-slider-main-container {
    grid-column: 2;
    grid-row: 1 / 3;
    max-height: 100%;
    overflow: hidden;
}

.home-slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.home-slide-img-container {
    background-color: #f7f7f7;
}

.home-slide-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.home-slide-content {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #f7f7f7;
}

.home-slide-content-text {
    width: 70%;
    text-align: left;
    margin-right: 15px;
}

.home-slide-content-text h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    padding-left: 30px;
}

.home-slide-content-text p {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    padding-left: 30px;
}

.home-slide-btn {
    width: 270px;
    height: 40px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffda33;
    color: #333333;
    transition: background-color 0.3s;
    font-family: 'Rubik', serif;
    font-weight: 500;
    font-size: 14px;
}

.home-slide-btn:hover {
    background-color: #0056b3;
}

.home-slider-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.home-slider-control-oval {
    background-color: #f7f7f7; /* Цвет овального контроллера */
    border-radius: 50px; /* Делает контейнер овальным */
    padding: 5px 4px; /* Пространство внутри овала */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Небольшая тень для объема */
}

.home-slider-control-indicator {
    width: 15px;
    height: 15px;
    background-color: #ccc; /* Цвет кружков */
    border-radius: 50%; /* Делает кружки круглыми */
    margin: 0 4px; /* Расстояние между кружками */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-slider-control-indicator.active {
    background-color: #ffda33; /* Цвет активного индикатора */
}

.home-slider-control-indicator:hover {
    background-color: #acacac; /* Цвет при наведении */
}

/******************************************************************************************/
/************************************Рекламная навигация***********************************/
.home-advertising-nav-container {
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
    height: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 5 столбцов */
    grid-template-rows: auto auto; /* 2 строки */
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.home-advertising-nav-item {
    text-align: center;
    max-width: 100%;
    border-radius: 4px;
    height: 160px;
}

.home-advertising-nav-item a {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.home-advertising-nav-item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.home-advertising-nav-item-split {
    grid-column: 2 / 4; /* Объединяет 2-й и 3-й столбцы */
    grid-row: 1 / 3; /* Объединяет 2 строки */
    height: 340px;
}

/******************************************************************************************/
/************************************Продукты категории************************************/
/*-----------------------------------Общий контейнер-----------------------------------*/
.home-category-product-container {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    height: 380px;/* Фиксированная высота для контейнера */
    position: relative; /* Для корректной работы с absolute */
}

/*-----------------------------------Баннер категории-----------------------------------*/
.home-products-card-error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-products-card-error p {
    width: 100%;
    text-align: center;
}

.home-category-banner-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-shrink: 0; /* Предотвращаем сжатие контейнера */
    user-select: none;
}

.home-category-banner {
    width: 100%;
    height: 330px;
    background-color: #f7f7f7;
    user-select: none;
}

.home-category-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-category-banner-link {
    display: flex;
    align-items: center;
    font-family: 'Rubik', serif;
    color: #8c8c8c;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home-category-banner-link:hover span {
    color: #cccccc;
}

.home-category-banner-link img {
    width: 18px;
    height: 13px;
    margin-left: 4px;
}


/*-----------------------------------Карточка товара-----------------------------------*/
.home-category-product-container-slider-nav {
    position: relative;
}

.home-product-card-container {
    width: 220px;
    padding: 16px;
    border: 1px solid #ededed;
    border-radius: 4px;
    overflow: hidden;
    height: 330px !important; /* Исходная высота карточки */
    position: relative;
    z-index: 1; /* Устанавливаем базовый слой */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.home-product-card-container:hover {
    padding: 15px;
    height: 380px !important; /* Увеличиваем до высоты контейнера */
    border: 2px solid #ffda33;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.home-product-card-container:hover .swiper-slide {
     height: 380px !important;
}

.home-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    user-select: none;
}

.home-product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%
}

.home-product-info-top {
    width: 100%;
}

.home-product-image {
    width: 100%;
    height: 180px;
    background-color: rgba(253, 0, 51, 0.18);
    margin-bottom: 10px;
}

.home-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-product-name {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    font-family: 'Inter Tight', serif;
    margin-top: 5px;
}

.home-product-price {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Inter Tight', serif;
}

.home-product-action {
    display: none;
    text-align: center;
    height: 47px;
    margin-top: 10px;
}

.home-product-card-container:hover .home-product-action {
    display: flex;
    align-items: flex-start;
}

.home-product-card-container:hover .home-product-name {
    color: #cccccc;
}

.home-product-action button {
    width: 85px;
    height: 40px;
    background-color: #ffda33;
    border: none;
    font-family: 'Rubik', serif;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    color: #333;
    border-radius: 4px;
    text-align: center;
}


.card-list .card-item {
    color: #fff;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-filter: blur(30px);
}

.card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

.home-category-product-container .swiper {
    height: 100% !important;
}

.home-category-product-container .swiper-slide {
    width: 220px !important;
    box-sizing: border-box;
}

/*----------------------Навигация продуктов категории бутылки------------------------------*/
.swiper-button-prev-custom-bottle,
.swiper-button-next-custom-bottle {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    z-index: 10;
    border: 2px solid #ededed;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    user-select: none;
    width: 32px;
    height: 32px;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev-custom-bottle i,
.swiper-button-next-custom-bottle i {
    font-size: 16px !important;
    color: #333333 !important;
}

.swiper-button-prev-custom-bottle:hover,
.swiper-button-next-custom-bottle:hover {
    background-color: #ffda33;
    border: none;
}

.swiper-button-prev-custom-bottle {
    left: 227px;
}

.swiper-button-next-custom-bottle {
    right: -17px;
}

/*----------------------Навигация продуктов категории банки------------------------------*/
.swiper-button-prev-custom-jar,
.swiper-button-next-custom-jar {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    z-index: 10;
    border: 2px solid #ededed;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    user-select: none;
    width: 32px;
    height: 32px;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev-custom-jar i,
.swiper-button-next-custom-jar i {
    font-size: 16px !important;
    color: #333333 !important;
}

.swiper-button-prev-custom-jar:hover,
.swiper-button-next-custom-jar:hover {
    background-color: #ffda33;
    border: none;
}

.swiper-button-prev-custom-jar {
    left: -17px;
}

.swiper-button-next-custom-jar {
    right: 227px;
}

/******************************************************************************************/
/*********************************Стили для блока партнеры*********************************/
.home-partners-container {
    margin-top: 50px;
}

.home-partners-title {
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Inter Tight', serif;
}

.home-partners-title h2 {
    color: #333333;
}

/*-----------------------------------Общий контейнер-----------------------------------*/
.home-partners-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 элементов в ряду */
    gap: 30px; /* Расстояние между элементами */
    max-height: calc(5 * 100px + 4 * 16px); /* Максимальная высота с учетом 5 рядов */
    overflow-y: auto; /* Добавить прокрутку, если больше 5 рядов */
}

.home-partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 8px;
}

.home-partner-item {

}

.home-partner-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/******************************************************************************************/
/********************************Стили для блока сертификат********************************/
.home-certificate-container {
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.home-certificate-title-container {
    margin-top: 70px;
}

.home-certificate-title-container h2 {
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-bottom: 10px;
}

.home-certificate-images-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.home-certificate-img-container {
    width: 100%;
}

.home-certificate-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-certificate-info-container {
    width: 75%
}

.home-certificate-info-container h3 {
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-bottom: 20px;
}

.home-certificate-info-container p {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
}

.home-certificate-images-container {
    height: 100%;
}

.home-certificate-thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 50px;
    height: 60px;
    cursor: pointer;
    object-fit: fill;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Стиль лупы при наведении */
.home-certificate-img-container img {
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.home-certificate-img-container img:hover {
    transform: scale(1.4); /* Увеличение при наведении */
}

/* Модальное окно для увеличения изображения */
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-modal .modal-content {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    animation: fadeIn 0.5s;
}

.image-modal .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/******************************************************************************************/
/*******************************Стили для блока преимущества*******************************/
.home-advantages-title-container {
    margin-top: 70px;
}

.home-advantages-title-container h2 {
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-bottom: 10px;
}

.home-advantages-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три столбца равной ширины */
    gap: 20px;
}

.home-advantage-container {
    padding: 0 20px 20px 20px;
    text-align: center;
    background-color: #f7f7f7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-advantage-container:hover {
    transform: scale(1.05); /* Легкое увеличение при наведении */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень при наведении */
    background-color: transparent;
}

.home-advantage-container span {
    font-size: 70px;
    color: #ffda33;
    display: inline-block;
}

.home-advantage-container h3 {
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-bottom: 10px;
}

.home-advantage-container p {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    line-height: 1.5;
    text-align: center;
}

/******************************************************************************************/
/**********************************Стили для блока новости*********************************/
.home-news-title-container {
    margin-top: 70px;
}

.home-news-title-container h2 {
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    color: #333333;
    margin-bottom: 10px;
}

.home-all-news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: #ffda33;
    padding: 20px;
}

.home-news-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
    background-color: rgba(247, 247, 247, 0.4);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    height: 210px;
}

.home-news-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-news-text {
    height: 92px; /* Фиксированная высота блока */
    overflow: hidden; /* Обрезает текст, выходящий за пределы блока */
    text-overflow: ellipsis; /* Добавляет многоточия */
    display: -webkit-box; /* Используется для создания блочных контейнеров */
    -webkit-line-clamp: 3; /* Указывает количество строк, которые должны быть видимы */
    -webkit-box-orient: vertical; /* Определяет ориентацию блока */
}

.home-news-text {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    color: #474747;
}

.home-news-container h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.home-news-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
}

.home-news-bottom p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.home-news-bottom a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter Tight', serif;
    color: #626355;
    text-transform: uppercase;
}

.home-news-bottom a img {
    height: 20px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.home-news-bottom a:hover img {
    transform: translateX(5px);
}


/******************************************************************************************/
/*****************************Стили страницы категории*************************************/
/******************************************************************************************/
/*------------------------------------Основные стили--------------------------------------*/
.category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Exactly 3 items per row */
    gap: 20px;
    padding: 0 20px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    align-content: center;
    min-height: 75vh;
}

.category-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.category-item:hover h3 {
    color: #808080;
}

.category-item-img img {
    width: 100%;
    height: auto;
    display: block;
}

.category-item-name h3 {
    margin: 15px 0;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter Tight', serif;
    color: #333333;
}

/******************************************************************************************/
/****************************Стили страницы продуктов**************************************/
/******************************************************************************************/
/*------------------------------Стили для картинки----------------------------------------*/
.products-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.products-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    user-select: none;
    border: 1px solid #ededed;
    padding: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем плавный переход */
}

.products-product-card:hover {
    padding: 1px;
    /*height: 380px !important;*/ /* Увеличиваем до высоты контейнера */
    border: 2px solid #ffda33;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.products-product-card:hover .products-product-action {
    display: flex;
    align-items: flex-start;
}

.products-product-card-container:hover .products-product-name {
    color: #cccccc;
}

.products-product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.products-product-info-top {
    width: 100%;
}

.products-product-image {
    width: 100%;
    height: 220px;
    padding: 10px 40px;
}

.products-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-product-name {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    font-family: 'Inter Tight', serif;
    padding: 0 10px;
}

.products-product-characteristics {
    margin-top: 5px;
}

.characteristics-list {
    list-style: none; /* Убираем стандартные маркеры */
    padding: 0 10px;
    margin: 0;
}

.characteristics-list li {
    margin-bottom: 0px;
    position: relative;
    padding-left: 13px;
    font-size: 13px;
    font-family: 'Inter Tight';
    font-weight: 300;
    color: #333333;
}

.characteristics-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border: 1px solid #333333;
    border-radius: 50%;
    background-color: transparent;
}

.products-product-colors {
    margin-top: 7px;
    padding: 0 10px;
}

.colors-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #ededed;
    box-shadow: inset 0 0 0 3px #ffffff;
}

.color-circle:hover {
    cursor: pointer;
    border: 2px solid #ffda33;
}

.products-product-price {
     margin: 5px 0;
     font-size: 25px;
     font-weight: 500;
     font-family: 'Inter Tight', serif;
     padding: 0 10px;
}

.products-product-action {
    display: none;
    text-align: center;
    height: 47px;
    margin-top: 10px;
}

.products-product-action button {
    width: 85px;
    height: 40px;
    background-color: #ffda33;
    border: none;
    font-family: 'Rubik', serif;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    color: #333;
    border-radius: 4px;
    text-align: center;
}





/******************************************************************************************/
/*****************************Стили страницы продукта**************************************/
/******************************************************************************************/
/*----------------------------------Стили для картинки------------------------------------*/

.product-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 25px;
    height: 80vh;
    max-height: 600px;
}

.product-images-container {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.product-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ededed;
}

.product-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.product-img img {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
}

/******************************************************************************************/
/*---------------------------------Стили для информации-----------------------------------*/
.product-info-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.product-info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.product-info-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.product-title-container {
    margin-bottom: 25px;
}

.product-title {
    font-weight: 600;
    font-family: 'Inter Tight', serif;
    color: #333333;
    font-size: 30px;
}

.product-short-info-container {
    width: 100%;
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.product-color-container {
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    margin-top: 20px;
}

.product-color-items {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.product-color-item {
    width: 40px;
    height: 40px;
    background-color: #ffd725;
    border-radius: 50%;
    border: 1px solid #ededed;
    box-shadow: inset 0 0 0 3px #ffffff;
}

.product-price-container {
    margin-top: 18px;
    font-family: 'Inter Tight', serif;
    color: #333333;
    font-size: 23px;
}

.product-price-container h3 {
    font-weight: 400;
}

.product-info-bottom {
    width: 100%;
}

.product-info-action {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
    font-family: 'Inter Tight', serif;
}

.product-quantity {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    color: #333333;
}

.product-quantity p {
    margin: 0;
    font-weight: 400;
}

.product-quantity-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #dddddd;
    width: 50%;
    height: 100%;
}

.product-quantity-control input {
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 5px;
    border: none;
    font-size: 23px;
    font-weight: 500;
    color: #333333;
    font-family: 'Rubik', serif;
}

/* Chrome, Safari, Edge, Opera */
.product-quantity-control input::-webkit-outer-spin-button,
.product-quantity-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity-btn {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    font-family: 'Rubik', serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: none;
}

.product-quantity-btn:hover {
    background-color: #ffd725;
}

.product-add-basket-btn {
    width: 50%;
    height: 100%;
    padding: 10px 20px;
    color: #333333;
    background-color: #ffd725;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Rubik', serif;
}

.product-thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.product-thumbnails img {
    width: 60px;
    height: auto;
    cursor: pointer;
    border: 1px solid #ededed;
    transition: border 0.1s ease-in-out;
    object-fit: cover;
    padding: 2px;
}

.product-thumbnails img:hover,
.product-thumbnails img.active {
    border: 1px solid #ffd725;
}

/******************************************************************************************/
/*-------------------------------Стили для характеристик----------------------------------*/
.product-characteristics-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.product-characteristics-title-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.product-characteristics-title-btn button {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Rubik', serif;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product-characteristics-title-btn button.active {
    border-bottom: 2px solid #ffd725;
}

.product-characteristics-description.active,
.product-characteristics-container.active {
    display: block;
}

.product-characteristics-description {
    display: none;
    width: 100%;
    border: 2px solid #ededed;
    padding: 50px 60px;
}

.product-characteristics-description p {
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
    text-align: justify;
}

.product-characteristics-container {
    display: none;
    width: 100%;
    border: 2px solid #ededed;
    padding: 50px 60px;
}

.product-characteristics-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ededed;
}

.product-characteristics-item p {
    line-height: 50px;
    width: 30%;
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter Tight', serif;
}

