<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{layouts/main :: head('Логин')}">
</head>
<body>
    <!-- Сообщение об ошибке -->
    <section id="error-message" class="error-message" th:if="${errorMessage}">
        <span th:text="${errorMessage}">Ошибка</span>
        <button id="close-btn" class="close-btn">
            <i class="fa fa-times"></i>
        </button>
    </section>

    <!--Шапка сайта-->
    <section th:replace="~{layouts/main :: header}"></section>

    <!--Блок с логином-->
    <section class="container login-container">
        <div class="login-info">
            <h3>Вход в личный кабинет</h3>
        </div>
        <!-- Сообщения авторизации-->
        <div th:if="${param.error}" class="container login-error-message">
            <p>Неверный логин или пароль</p>
        </div>
        <div th:if="${param.logout}" class="error-message">
            <p>Вы вышли из личного кабинета</p>
        </div>
        <form th:action="@{/auth/login}" method="post" class="login-form">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="text" id="password" name="password" required />
            </div>
            <div class="form-group-button">
                <button value="Войти" type="submit" class="form-control-btn">Войти</button>
            </div>
        </form>
    </section>

    <!--Блок с подвалом-->
    <section th:replace="~{layouts/main :: footer}"></section>

    <!-- Скрипт для функционала -->
    <script src="/js/header-catalog.js"></script>
    <script src="/js/header-catalog-sidebar.js"></script>
    <script src="/js/basket.js"></script>
</body>
</html>