<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{layouts/main :: head('Продукт')}">
</head>
<body>
    <!-- Сообщение об ошибке -->
    <section id="error-message" class="error-message" th:if="${errorMessage}">
        <span th:text="${errorMessage}">Ошибка</span>
        <button id="close-btn" class="close-btn">
            <i class="fa fa-times"></i>
        </button>
    </section>

    <!--Шапка сайта-->
    <section th:replace="~{layouts/main :: header}"></section>

    <!--Блок с навигацией-->
    <section class="container">
        <div class="nav-page-container">
            <a href="/">Главная</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href= "/category">Категории</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a th:href= "@{'/subcategory/' + ${product.categoryId}}" th:text="${product.categoryName}">Подкатегория категории</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a th:href= "@{'/products/subcategory/' + ${product.subcategoryId}}" th:text="${product.subcategoryName}">Продукты подкатегории</a>
            <i class="fa-solid fa-arrow-right"></i>
            <p th:text="${product.name}">Конкретный продукт</p>
        </div>
    </section>

    <!--Блок с продуктом-->
    <section class="container">
        <div class="product-wrapper">
            <div class="product-images-container">
                <div class="product-img-container">
                    <div class="product-img">
                        <img id="product-main-img"
                             th:src="@{${product.images[0].productImage}}"
                             th:alt="${product.images[0].productImageName}">
                    </div>
                </div>
            </div>
            <div class="product-info-container">
                <div class="product-info">
                    <div class="product-info-top">
                        <div class="product-title-container">
                            <h1 class="product-title" th:text="${product.name}">Название продукта</h1>
                        </div>
                        <div class="product-short-info-container">
                            <p th:text="${product.shortDescription}">
                                Краткое описание продукта
                            </p>
                        </div>
                        <div class="product-article-container">
                            <p th:text="'Артикул: ' + ${product.idFromFactoryBd}">1515</p>
                        </div>
                        <div class="product-color-container">
                            <p>Доступные цвета</p>
                            <div class="product-color-items">
                                <div th:each="image : ${product.images}"
                                     th:if="${image.color != null and !image.color.isEmpty()}"
                                     th:style="|background-color: ${image.color};|"
                                     class="product-color-item">
                                </div>
                            </div>
                        </div>
                        <div class="product-price-container">
                            <h3 th:text="${product.price} + ' сом'">1000 сом</h3>
                        </div>
                    </div>
                    <div class="product-info-bottom">
                        <div class="product-info-action">
                            <div class="product-quantity-control">
                                <button type="button" class="product-quantity-btn decrement">-</button>
                                <input type="number" id="quantity" min="1" value="1">
                                <button type="button" class="product-quantity-btn increment">+</button>
                            </div>
                            <button  onclick="addToCart(this)"
                                     th:data-id="${product.id}"
                                     class="product-add-basket-btn">
                                В корзину
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-min-images">
                    <div class="product-thumbnails">
                        <div th:each="image : ${product.images}">
                            <img th:src="@{${image.productImage}}"
                                 th:alt="${image.productImageName}"
                                 onclick="changeImage(this)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="product-characteristics-title">
            <div class="product-characteristics-title-btn">
                <button class="active" data-target="description">Описание</button>
            </div>
            <div class="product-characteristics-title-btn">
                <button data-target="characteristics">Характеристики</button>
            </div>
        </div>
        <div class="product-data-wrapper">
            <div id="description" class="product-characteristics-description active">
                <p th:text="${product.description}">
                    Полное описание
                </p>
            </div>
        </div>
        <div class="product-data-wrapper">
            <div id="characteristics" class="product-characteristics-container">
                <div th:each="characteristic : ${product.productCharacteristics}">
                    <div class="product-characteristics-item" th:if="${characteristic.value != null and characteristic.value != 0}">
                        <p th:text="${characteristic.characteristicName}">Название характеристики</p>
                        <p th:text="${characteristic.value}">Значение характеристики</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Блок с подвалом-->
    <section th:replace="~{layouts/main :: footer}"></section>

    <!-- Скрипт для функционала -->
    <script src="/js/notification.js"></script>
    <script src="/js/header-catalog.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/basket.js"></script>
</body>
</html>